html, body {
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 1.1em;
  }
td, th {
    border: 1px solid #ddd;
    padding: 8px;
  }
tr{
    /* background-color: #dedede; */
    text-align: left;
  }

/* tr:nth-child(even){background-color: #efefef;} */

tr:hover {background-color: #ddd;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #cecece;
    color: #044767;
  }
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  